/* src/components/weather tips/WeatherTips.css */
#weather-tips-container {
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#weather-tips-container h2 {
    margin-bottom: 10px;
    color: rgb(90, 113, 153);
}

#weather-tips-container p {
    font-size: 16px;
    color: #555;
}